

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.container{padding-left:0px;}
.hr{margin-top:0px;}
.hr{margin-bottom:0px;}
.navbar-brand{padding:15px 30px;}
body{color: #00ff21;
     background-color: #00ff21;
}
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #00ff21;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand {
  color: #00ff21;
}










